@font-face {
  font-family: 'muli';
  src: url("../font/muli-light-webfont.eot");
  src: url("../font/muli-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/muli-light-webfont.woff") format("woff"), url("../font/muli-light-webfont.ttf") format("truetype"), url("../font/muli-light-webfont.svg#muliregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliregular';
  src: url("../font/muli-regular-webfont.eot");
  src: url("../font/muli-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/muli-regular-webfont.woff") format("woff"), url("../font/muli-regular-webfont.ttf") format("truetype"), url("../font/muli-regular-webfont.svg#muliregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 17, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Users/julio/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 38, ../scss/base.scss */
.col {
  float: left;
  margin-right: 2%;
  position: relative; }

/* line 44, ../scss/base.scss */
._70pc {
  width: 68%; }

/* line 45, ../scss/base.scss */
._50pc {
  width: 48%; }

/* line 46, ../scss/base.scss */
._30pc {
  width: 28%; }

/* line 49, ../scss/base.scss */
a, a:link, a:visited {
  color: #006600; }

/* line 52, ../scss/base.scss */
input[type="text"] {
  border: 0px solid;
  height: 27px;
  padding-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px #cccccc;
  -moz-box-shadow: inset 1px 1px 3px #cccccc;
  box-shadow: inset 1px 1px 3px #cccccc; }

/* line 61, ../scss/base.scss */
.bt {
  background-color: #006600;
  border: 1px solid #006600 !important;
  color: #fff;
  font-family: 'muli';
  font-size: .9em;
  margin-left: -3px;
  margin-top: 10px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 75, ../scss/base.scss */
.bt:hover {
  background-color: #f3f3f3 !important;
  border: 1px solid #009933 !important;
  cursor: pointer !important;
  color: #006600 !important; }

/* line 83, ../scss/base.scss */
body {
  font-family: 'muli'; }

/* line 84, ../scss/base.scss */
strong {
  font-family: 'muliregular'; }
  /* line 86, ../scss/base.scss */
  strong a, strong a:link, strong a:visited {
    text-decoration: none; }

/* line 90, ../scss/base.scss */
.title {
  border-bottom: 1px solid #006600;
  display: table;
  font-size: 1.6em !important;
  margin-bottom: 20px;
  width: 100%; }
  /* line 97, ../scss/base.scss */
  .title span {
    border-bottom: 2px solid #009933;
    color: #666666;
    float: left; }

/* line 105, ../scss/base.scss */
.icon {
  background: url("../img/sprite.png") no-repeat;
  float: left;
  height: 16px;
  position: relative;
  width: 17px; }

/* line 113, ../scss/base.scss */
.responder {
  background-position: -133px -32px; }

/* line 116, ../scss/base.scss */
.top-all {
  background: url("../img/top-bg.png") repeat;
  border-bottom: 1px solid #999999;
  height: 67px;
  position: absolute;
  width: 100%;
  z-index: 9999; }
  /* line 125, ../scss/base.scss */
  .top-all .top-in {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 13px;
    width: 1400px; }
    /* line 132, ../scss/base.scss */
    .top-all .top-in .logo {
      float: left;
      position: relative; }
    /* line 137, ../scss/base.scss */
    .top-all .top-in .search-all {
      border: 1px solid #006600;
      height: 37px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 386px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      /* line 147, ../scss/base.scss */
      .top-all .top-in .search-all input[type="text"] {
        background: url("");
        border: 0px;
        color: #999999;
        font-family: 'muliregular';
        font-size: 16px;
        left: 20px;
        margin-left: 10px;
        margin-top: 5px;
        width: 337px;
        -webkit-box-shadow: 0px 0px 0px !important;
        -moz-box-shadow: 0px 0px 0px !important;
        box-shadow: 0px 0px 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important; }
      /* line 162, ../scss/base.scss */
      .top-all .top-in .search-all button {
        background: url("");
        border: 0;
        color: #999999;
        position: absolute;
        right: 5px;
        top: 8px; }
      /* line 171, ../scss/base.scss */
      .top-all .top-in .search-all button:hover {
        cursor: pointer; }
    /* line 175, ../scss/base.scss */
    .top-all .top-in .user-place {
      height: 36px;
      position: absolute;
      right: 0;
      top: 10px; }
      /* line 181, ../scss/base.scss */
      .top-all .top-in .user-place li {
        display: inline-block;
        margin-left: 15px; }
        /* line 185, ../scss/base.scss */
        .top-all .top-in .user-place li .user-option_drop-icon {
          background: url("../img/sprite.png") no-repeat;
          background-position: -1px -1px;
          display: inline-block;
          height: 5px;
          position: absolute;
          right: 0;
          top: 7px;
          width: 9px; }
    /* line 200, ../scss/base.scss */
    .top-all .top-in .user-place:hover {
      cursor: pointer; }

/* line 207, ../scss/base.scss */
.content {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  width: 1400px; }

/* line 217, ../scss/base.scss */
.content-info {
  display: table;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; }
  /* line 223, ../scss/base.scss */
  .content-info h1 {
    color: #666666;
    font-family: 'muliregular';
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 2px; }
  /* line 231, ../scss/base.scss */
  .content-info p {
    color: #666666;
    font-style: italic; }
  /* line 236, ../scss/base.scss */
  .content-info .content-info-options {
    color: #006600;
    font-size: 0.9em;
    margin: 5px 0 10px 0;
    position: relative; }
    /* line 242, ../scss/base.scss */
    .content-info .content-info-options li {
      border-right: 1px solid #999999;
      display: inline-block;
      margin-right: 3px;
      padding-right: 8px; }
      /* line 248, ../scss/base.scss */
      .content-info .content-info-options li i {
        margin-right: 3px; }
    /* line 252, ../scss/base.scss */
    .content-info .content-info-options li:last-child {
      border-right: 0px !important; }

/* line 259, ../scss/base.scss */
.block {
  background-color: #f3f3f3;
  display: table;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 269, ../scss/base.scss */
  .block h1 {
    border-left: 2px solid #009933;
    color: #666666;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0 0 0 10px; }
    /* line 276, ../scss/base.scss */
    .block h1 span {
      margin-left: 8px; }
  /* line 280, ../scss/base.scss */
  .block .content-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    position: relative;
    width: 80%; }
    /* line 288, ../scss/base.scss */
    .block .content-block p {
      font-size: 1em;
      margin-left: 10px;
      text-align: justify; }
      /* line 293, ../scss/base.scss */
      .block .content-block p a {
        color: #009933;
        font-size: 13px;
        text-decoration: none; }
    /* line 300, ../scss/base.scss */
    .block .content-block input[type="text"] {
      margin-left: -3px;
      width: 100%; }

/*===================================================================
	- > 1440px -
===================================================================*/
@media screen and (max-width: 1439px) {
  /* line 315, ../scss/base.scss */
  .top-in {
    width: 1200px !important; }

  /* line 316, ../scss/base.scss */
  .content {
    width: 1200px !important; } }
/*===================================================================
	- > 1270px -
===================================================================*/
@media screen and (max-width: 1270px) {
  /* line 323, ../scss/base.scss */
  .top-in {
    width: 1000px !important; }

  /* line 324, ../scss/base.scss */
  .content {
    width: 1000px !important; } }
/*===================================================================
	- > 1024px -
===================================================================*/
@media screen and (max-width: 1024px) {
  /* line 331, ../scss/base.scss */
  .top-in {
    width: 870px !important; }

  /* line 332, ../scss/base.scss */
  .content {
    width: 870px !important; } }
/*===================================================================
	- > 900px -
===================================================================*/
@media screen and (max-width: 900px) {
  /* line 339, ../scss/base.scss */
  .top-in {
    width: 95% !important; }

  /* line 340, ../scss/base.scss */
  .content {
    width: 100% !important; } }
/*===================================================================
	- > 900px -
===================================================================*/
@media screen and (max-width: 800px) {
  /* line 347, ../scss/base.scss */
  .mobile-icon-search-all {
    height: 32px;
    position: absolute;
    right: 70px;
    width: 45px; }

  /* line 353, ../scss/base.scss */
  .mobile-icon-search {
    background: url("../img/sprite.png") no-repeat;
    background-position: -134px -0px;
    display: block;
    height: 32px;
    position: absolute;
    top: 5px;
    width: 32px; }

  /* line 362, ../scss/base.scss */
  .mobile-icon-drop-search {
    background: url("../img/sprite.png") no-repeat;
    background-position: -1px -1px;
    display: absolute;
    height: 5px;
    position: absolute;
    right: 0;
    top: 18px;
    width: 9px; }

  /* line 372, ../scss/base.scss */
  .search-all {
    display: none; } }
/* line 8, ../scss/produto.scss */
.top-all {
  position: relative !important; }

/* line 13, ../scss/produto.scss */
.produto .prod-title {
  color: #006600;
  font-family: 'muli';
  font-size: 1.6em;
  margin-bottom: 3px; }
/* line 20, ../scss/produto.scss */
.produto .prod-sub-title {
  color: #999999;
  font-family: 'muli';
  font-size: 0.9em;
  font-style: italic; }
/* line 27, ../scss/produto.scss */
.produto .prod-img {
  height: 392px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%; }
  /* line 33, ../scss/produto.scss */
  .produto .prod-img img {
    height: auto;
    width: 100%; }
  /* line 38, ../scss/produto.scss */
  .produto .prod-img li {
    display: inline-block; }
  /* line 40, ../scss/produto.scss */
  .produto .prod-img .setas {
    background: url("../img/sprite.png") no-repeat;
    display: block;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    top: 37%;
    width: 17px;
    z-index: 9999; }
  /* line 51, ../scss/produto.scss */
  .produto .prod-img .prev {
    background-position: -166px -1px;
    left: 15px; }
  /* line 56, ../scss/produto.scss */
  .produto .prod-img .next {
    background-position: -167px -34px;
    right: 15px; }
/* line 63, ../scss/produto.scss */
.produto .bt {
  background-color: #006600;
  color: #fff;
  display: block;
  font-family: 'muliregular';
  margin-left: 0px !important;
  margin-top: 10px;
  padding: 20px 0 20px 0;
  text-align: center;
  text-decoration: none;
  width: -webkit-calc(100% - 2px);
  width: -moz-calc(100% - 2px);
  width: -ms-calc(100% - 2px);
  width: -o-calc(100% - 2px);
  width: calc(100% - 2px); }

/* line 83, ../scss/produto.scss */
.especificacoes {
  display: table; }
  /* line 85, ../scss/produto.scss */
  .especificacoes p {
    font-size: .9em;
    margin-bottom: 10px; }

/* line 90, ../scss/produto.scss */
.duvidas .section-title {
  color: #666666;
  border-bottom: 2px solid #009933;
  float: left;
  padding: 3px;
  position: relative;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
/* line 101, ../scss/produto.scss */
.duvidas .seta {
  background: url("../img/sprite.png") no-repeat;
  background-position: 4px -8px;
  border: 0px !important;
  display: block;
  height: 6px;
  left: 50%;
  margin-left: -7px;
  padding: 0px !important;
  position: absolute;
  top: 28px;
  width: 14px;
  z-index: 9998; }
/* line 116, ../scss/produto.scss */
.duvidas .disabled {
  color: #cccccc;
  border-bottom: 2px solid #cccccc;
  font-size: 1em;
  font-weight: thin; }
  /* line 122, ../scss/produto.scss */
  .duvidas .disabled .seta {
    display: none; }
/* line 127, ../scss/produto.scss */
.duvidas .content-block {
  width: -moz-calc(96.9% - 5px);
  width: -webkit-calc(96.9% - 5px);
  width: -ms-calc(96.9% - 5px); }

/*===================================================================
	- > 1440px -
===================================================================*/
@media screen and (max-width: 1439px) {
  /* line 138, ../scss/produto.scss */
  .prod-img {
    height: 320px !important; } }
