//- ONE toko - Estilo PRODUTOS

//- Base
@import "base.scss";
@import "compass/css3";

//- Top
.top-all{position: relative !important;}

//- Produto
.produto{

	.prod-title{
		color: $verde2; 
		font-family: 'muli'; 
		font-size: 1.6em;
		margin-bottom: 3px;
	}

	.prod-sub-title{
		color: $cinza2; 
		font-family: 'muli'; 
		font-size: 0.9em;
		font-style: italic;
	}

	.prod-img{
		height: 392px;
		margin-top: 10px;
		overflow: hidden;
		width: 100%;

		img{
			height: auto;
			width: 100%;
		}

		li{display: inline-block;}

		.setas{
			background: url("../img/sprite.png") no-repeat;
			display: block;
			height: 32px;
			margin-top: -16px;
			position: absolute;
			top: 37%;
			width: 17px;
			z-index: 9999;
		}

		.prev{
			background-position: -166px -1px;
			left: 15px;
		}

		.next{
			background-position: -167px -34px;
			right: 15px;
		}

	}
	
	.bt{
		background-color: $verde2;
		color: #fff; 
		display: block;
		font-family: 'muliregular';
		margin-left: 0px !important;
		margin-top: 10px;
		padding: 20px 0 20px 0;
		text-align: center;
		text-decoration: none;
		width: -webkit-calc(100% - 2px);
		width: -moz-calc(100% - 2px);
		width: -ms-calc(100% - 2px);
		width: -o-calc(100% - 2px);
		width: calc(100% - 2px);
	}

}

//- Especificacoes
.especificacoes{
	display: table;
	p{font-size: .9em; margin-bottom: 10px;}
}

//- Duvidas
.duvidas{
	.section-title{
		color: $cinza3;
		border-bottom: 2px solid $verde1;
		float: left;
		padding: 3px;
		position: relative;
		margin-right: 15px;

		@include transition(all .3s ease-in-out);
	}

	.seta{
		background: url("../img/sprite.png") no-repeat;
		background-position: 4px -8px;
		border: 0px !important;
		display: block;
		height: 6px;
		left: 50%;
		margin-left: -7px;
		padding: 0px !important;
		position: absolute;
		top: 28px;
		width: 14px; 
		z-index: 9998; 
	}

	.disabled{
		color: $cinza4;
		border-bottom: 2px solid $cinza4;
		font-size: 1em;
		font-weight: thin;
		
		.seta{display: none;}

	}

	//- Content block - pagina de produtos // Duvida, reclama...,
	.content-block{
		width: -moz-calc(96.9% - 5px);
		width: -webkit-calc(96.9% - 5px);
		width: -ms-calc(96.9% - 5px);
	}
}

/*===================================================================
	- > 1440px -
===================================================================*/
@media screen and(max-width: 1439px){
	.prod-img{height: 320px !important;}
}